Package: com.sticktron.longtouchhome
Name: LongTouchHome
Description: Long touch on Home event for the libactivator API!
Version: 0.9.0
Priority: optional
Section: Addons (Activator)
Architecture: iphoneos-arm
Depends: mobilesubstrate, libactivator
Author: Sticktron
